[Unit]
Description=BBB-Live service
Requires=bbb-live.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=live
Group=live
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/home/live/bbb-live/bbb_live/
ExecStart=/home/live/bbb-live/venv/bin/gunicorn -c /etc/bbb-live/gunicorn.conf.py bbb_live.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target